src/main/app/munit-demo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">

	<http:listener-config name="api-httpListenerConfig"
		host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />

	<apikit:config name="api-config" raml="bmi-rest.raml"
		consoleEnabled="false" doc:name="Router" />
	<ws:consumer-config name="bmi-soap-cloud"
		wsdlLocation="http://bmi-soap.eu.cloudhub.io/BmiService/BmiPort/?wsdl"
		service="BmiService" port="BmiPort"
		serviceAddress="http://bmi-soap.eu.cloudhub.io/BmiService/BmiPort/"
		doc:name="Web Service Consumer" />

	<flow name="api-main">
		<http:listener config-ref="api-httpListenerConfig" path="/api/*"
			doc:name="HTTP" />
		<apikit:router config-ref="api-config" doc:name="APIkit Router" />
		<exception-strategy ref="api-apiKitGlobalExceptionMapping"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="api-console">
		<http:listener config-ref="api-httpListenerConfig" path="/console/*"
			doc:name="HTTP" />
		<apikit:console config-ref="api-config" doc:name="APIkit Console" />
	</flow>

	<flow name="get:/bmi/{weight}/{size}:api-config">
		<dw:transform-message doc:name="request-to-soap">
			<dw:input-variable doc:sample="sample_data\weight.dwl"
				variableName="weight" />
			<dw:input-variable doc:sample="sample_data\size.dwl"
				variableName="size" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace bmi http://codecentric.de/calculate-bmi/
---
{
	bmi#CalculateBmiRequest: {
		bmi#length: flowVars.size as :number,
		bmi#weight: flowVars.weight as :number
	}
}]]></dw:set-payload>
		</dw:transform-message>
        <ws:consumer config-ref="bmi-soap-cloud" operation="CalculateBmi" doc:name="bmi-soap-cloud"/>

		<dw:transform-message doc:name="soap-to-java">
			<dw:input-payload doc:sample="sample_data\CalculateBmiResponse.xml" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace bmi http://codecentric.de/calculate-bmi/
---
{
	bmi: payload.bmi#CalculateBmiResponse.bmi#bmi,
	description:  payload.bmi#CalculateBmiResponse.bmi#comment
}]]></dw:set-payload>
		</dw:transform-message>
        <enricher source="#[null]" target="#[flowVars.unused]" doc:name="Message Enricher">
            <processor-chain doc:name="Processor Chain">
                <dw:transform-message doc:name="java-to-queue-json">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	bmi: payload.bmi,
	date: now as :string { format: "yyyy-MM-dd" }
}
]]></dw:set-payload>
                </dw:transform-message>
                <object-to-string-transformer doc:name="Object to String"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="bmi-statistics" doc:name="bmi-statistics"/>
            </processor-chain>
        </enricher>
        <dw:transform-message doc:name="java-to-response-json">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	bmi: payload.bmi,
	description:  payload.description
}]]></dw:set-payload>
        </dw:transform-message>
	</flow>
    <flow name="statistics-reader">
        <vm:inbound-endpoint exchange-pattern="one-way" path="bmi-statistics" doc:name="bmi-statistics"/>
        <logger message="#[payload]" level="INFO" category="statistics-reader" doc:name="Log statistcis entry"/>
    </flow>

	<apikit:mapping-exception-strategy
		name="api-apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
</mule>
